@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========================= UTILITIES =========================*/
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.2px;
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/*========================= NAV MOBILE =========================*/
/* nav {
  padding: 1.2rem;
  position: relative;
  z-index: 3;
  color: #fff;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1rem;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  color: rgba(0, 150, 255, 1);
}

nav #links {
  display: none;
}

nav a i {
  font-size: 1.6rem;
  color: rgba(0, 150, 255, 1);
} */

/* .mobile-container { */
/* max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px; */
/* } */

.topnav {
  overflow: hidden;
  background-color: #fff;
  position: relative;
  padding: 1.2rem;
}

.topnav h1 {
  font-size: 1rem;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  color: rgba(0, 150, 255, 1);
}

.topnav #links {
  display: none;
}

.topnav #links a {
  color: rgba(0, 150, 255, 1);
  padding: 1.2rem 0.6rem;
  margin-top: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  text-align: center;
}

.topnav #links a:last-child {
  background-color: rgba(0, 150, 255, 1);
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 500;
}

.topnav a {
  padding: 1rem 1rem;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.6rem;
  color: rgba(0, 150, 255, 1);
}

/*========================= HERO MOBILE =========================*/
header .hero-mobile {
  width: 100vw;
  height: 500px;
}

header .hero-mobile .hero-image {
  width: 100%;
  height: 100%;
  background: url('./assets/mobile-hero.jpg') no-repeat center center/cover;
}

header .hero-mobile .overlay {
  height: 500px;
  margin-top: -500px;
  width: 100%;
  position: relative;
  top: 100%;
  left: 0px;
  z-index: 2;
  background: linear-gradient(rgba(0, 150, 255, 0.85), #9198e5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

header .hero-mobile .overlay .logo-mobile {
  width: 80%;
  height: 160px;
  background: url('./assets/logo-mobile.png') no-repeat center center/contain;
}

header .hero-mobile .overlay h2 {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  display: inline-block;
  font-size: 2rem;
  width: 80%;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-top: -20px;
}

header .hero-mobile .overlay button {
  border: 4px solid black;
  border-radius: 35px;
  padding: 1rem 2rem;
  background: #fff;
  font-size: 1.4rem;
}

/*========================= ABOUT MOBILE =========================*/

#about {
  width: 100vw;
  background: #333;
  color: #fff;
  margin-top: 500px;
  text-align: center;
  padding: 1rem 2.4rem;
}

#about h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

#about p {
  margin: 1rem 0;
  line-height: 1.6rem;
  text-align: justify;
}

/*========================= COPY 1 SECTION =========================*/

#copy-1 {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#copy-1 h2 {
  color: rgba(0, 150, 255, 1);
  font-size: 3.6rem;
}

#copy-1 a {
  color: rgba(0, 150, 255, 1);
  font-size: 0.75rem;
  align-self: flex-end;
}

/*========================= SERVICES SECTION =========================*/

#services {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services h2 {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: 2rem;
}

#services .service-card {
  width: 90%;
  height: 540px;
  margin-top: 30px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.15);
}

#services .service-card img {
  width: 200px;
  height: 200px;
  padding: 2rem;
  background: rgba(0, 150, 255, 1);
  border-radius: 50%;
}

#services .service-card h3 {
  margin-top: -10px;
  text-align: center;
}

#services .service-card p {
  text-align: justify;
}

#services .service-card a {
  border: none;
  border-radius: 35px;
  padding: 1rem 2rem;
  background: crimson;
  color: #fff;
  font-size: 1.4rem;
  margin-top: 10px;
}

/* NAV */
/* nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  background: url('./assets/logo2.png') no-repeat center center/contain;
  height: 100px;
  width: 240px;
}

nav .links a {
  margin-left: 60px;
  color: #006666;
}

nav .links a:last-child {
  background-color: rgba(0, 150, 255, 1);
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 500;
} */

/* HEADER */
/* .frame {
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 0;
  background: url('./assets/frame-bubble.png') no-repeat center center/cover;
  z-index: 3;
}

.videoContainer {
  position: relative;
  width: 100%;
  background-attachment: scroll;
  overflow: hidden;
}

.videoContainer video {
  min-width: 100%;
  position: relative;
  z-index: 1;
}

.videoContainer .overlay {
  height: 99.7%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: rgba(0, 150, 255, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.videoContainer .overlay .heading {
  height: 700px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.videoContainer .overlay .heading .vegas-logo {
  height: 200px;
  background: url('./assets/vegas.png') no-repeat center center/contain;
}

.videoContainer .overlay .heading h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.videoContainer .overlay .heading p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.videoContainer .overlay .heading a {
  background-color: #d20002;
  border: 8px solid;
  border-image: linear-gradient(#dacc22, #feff66) 1;
  width: 30rem;
  align-self: center;
  padding: 2rem 4rem;
  font-size: 2rem;
  color: #fff;
  font-family: 'Pacifico', cursive;
  margin-top: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */
