@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.2px;
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/* NAV */
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  background: url('./assets/logo2.png') no-repeat center center/contain;
  height: 100px;
  width: 240px;
}

nav .links a {
  margin-left: 60px;
  color: #006666;
}

nav .links a:last-child {
  background-color: rgba(0, 150, 255, 1);
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 500;
}

/* HEADER */
.frame {
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 0;
  background: url('./assets/frame-bubble.png') no-repeat center center/cover;
  z-index: 3;
}

.videoContainer {
  position: relative;
  width: 100%;
  background-attachment: scroll;
  overflow: hidden;
}

.videoContainer video {
  min-width: 100%;
  position: relative;
  z-index: 1;
}

.videoContainer .overlay {
  height: 99.7%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: rgba(0, 150, 255, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.videoContainer .overlay .heading {
  height: 700px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.videoContainer .overlay .heading .vegas-logo {
  height: 200px;
  background: url('./assets/vegas.png') no-repeat center center/contain;
}

.videoContainer .overlay .heading h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.videoContainer .overlay .heading p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.videoContainer .overlay .heading a {
  background-color: #d20002;
  border: 8px solid;
  border-image: linear-gradient(#dacc22, #feff66) 1;
  width: 30rem;
  align-self: center;
  padding: 2rem 4rem;
  font-size: 2rem;
  color: #fff;
  font-family: 'Pacifico', cursive;
  margin-top: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
